name: go_app

services:
  psql:
    env_file:
      - .env
    image: postgres:16-alpine
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: unless-stopped
    container_name: psql
    networks:
      - net
  
  app:
    container_name: app
    build: .
    environment:
      CONFIG_PATH: config/config.yaml
    env_file:
      - .env
    depends_on:
      - psql
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/logs
    networks:
      - net


volumes:
  pg-data:
    driver: local

networks:
  net:
    driver: bridge